Package: net.pocketmine.php-5.5
Name: PHP 5.5 for PocketMine-MP
Version: 5.5.10
Depends: net.pocketmine.libyaml, net.pocketmine.zlib, curl, gsc.armv7
Architecture: iphoneos-arm
Description: PHP binaries for PocketMine
Homepage: http://www.pocketmine.net/
Maintainer: PocketMine Team <support@pocketmine.net>
Author: PocketMine Team <support@pocketmine.net>
Section: Development
Replaces: php
Tag: purpose::console, role::developer
